* {
    margin: 0;
    padding: 0;
    
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #999;
    background: linear-gradient(to bottom, hsl(44, 70%, 55%) 0%, #af6f27 100%);

    height: 100vh;
    
}
.info_area {
    padding: 24px 0 128px 0; 
    font-family: 'LCD2', sans-serif;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: 600;
    -webkit-text-stroke: 1px darkslategray;
    color:lightgreen;
    text-shadow:
        3px 3px 0 darkslategray,
      -1px -1px 0 darkslategray,  
       1px -1px 0 darkslategray,
       -1px 1px 0 darkslategray,
        1px 1px 0 darkslategray;
}
.calc_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    padding: 32px 32px;
    border-radius: 12px;
    background: linear-gradient(to bottom, hsl(51, 23%, 89%) 0%, #b6b6ae 100%);
    box-shadow: 
    0px 4px 5px rgba(0, 0, 0, 0.2),  
    0px 6px 10px rgba(0, 0, 0, 0.3), 
    inset 4px 3px 2px rgba(255, 255, 255, 0.5);

}

.display-area {
    display: flex;
    flex-direction: column;

    background-color: moccasin;
    border-radius: 4px;
    padding: 8px;
    border: 2px solid darkslateblue;
    font-family: 'LCD2', sans-serif;  

    

    width: 450px; 
    align-self: center; 
    flex-grow: 0; 
    flex-shrink: 0; 
}

#smaller-display {
    color: moccasin;
    font-size: 24px;
    padding: 0 0 6px 0;
    text-align: right;
    float: right;
}

#main-display {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_area {
    padding: 6px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    perspective: 1000px;
}
.equalBtnArea{
    padding: 6px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    perspective: 1000px;
    

}
#equals {
    font-weight: 900;
    background: linear-gradient(to bottom, hsl(189, 51%, 78%) 0%, #7b99da 100%);
    font-size: 26px;
}
#C {
    font-weight: 900;
    background: linear-gradient(to bottom, hsl(16, 55%, 82%) 0%, #c77575 100%);
    font-size: 24px;
}

.operator {
    font-weight: 950;
    font-size: 24px;
}



button {
    /* Your existing styles */
    padding: 16px;
    border-radius: 6px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid darkgray;
    color: rgb(15, 6, 39);
    font-weight: 600;
    box-shadow: 
        0px 2px 3px rgba(0, 0, 0, 0.2),  
        0px 4px 8px rgba(0, 0, 0, 0.3), 
        inset 2px 1px 2px rgba(255, 255, 255, 0.5);
    transform: translateZ(20px);
    background: linear-gradient(to bottom, hsl(195, 10%, 92%) 0%, #b9c3ca 100%);
    transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
}

button:active {
    box-shadow: 
        0px 1px 2px rgba(0, 0, 0, 0.2),  
        inset 0px 4px 8px rgba(0, 0, 0, 0.3); 
    transform: translateZ(15px); 
    background: linear-gradient(to bottom, hsl(195, 20%, 82%) 0%, #a9b3ba 100%); 
}

